<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>주유소 지도 보기</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-2909118826436692">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" th:href="@{/css/map.css}" />
    <link rel="icon" type="image/png" th:href="@{/favicon.png}">
</head>
<body>
<header>
    <form method="get" th:action="@{/map}">
        <input type="text" name="address" th:value="${address}" placeholder="주소 입력" />
        <select name="radius">
            <option th:each="r : ${#numbers.sequence(1,5)}"
                    th:value="${r}" th:selected="${radius == r}"
                    th:text="${r + 'km'}"></option>
        </select>
        <button type="submit">검색</button>
    </form>
    <div><strong th:text="'현재 주소: ' + ${address}"></strong></div>
</header>

<div id="content">
    <div id="map"></div>
    <div id="station-list">
        <h3>⛽ 최저가순 주유소</h3>
        <div id="stations"></div>
    </div>
</div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script th:src="@{/js/map.js}"></script>
</body>
</html>
